
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" size="small" (click)="viewCompletedVisitsMethod(viewCompletedVisits)">{{ViewVisitText}}</ion-button>
  <ion-button expand="full" size="small" (click)="viewStockForStores()">{{ViewStockText}}</ion-button>
  <ion-button expand="full" size="small" (click)="refreshStoreList()">Refresh Store List</ion-button>
  <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  <span>{{searchTerm}}</span>
  <h2 *ngIf="currentSpeedSlow">You are now in offline mode and have to sync your stores when you have good connection.</h2>
  <div *ngIf="!viewStock">
    <div *ngFor="let store of storeVisist | filter:searchTerm ">
      <ion-card *ngIf="store.storeVisitCompleted == viewCompletedVisits" [ngClass]="{'bg-primary mb-3': store.storeVisitCompleted != true ,'bg-success  mb-3' : store.storeVisitCompleted == true }">
        <ion-card-header (click)="getDetailsForStore(store)">

          <ion-card-title>{{store.chainName}} - {{store.storeName}}</ion-card-title>
          <ion-card-subtitle>{{store.storeInstallDay}} with date of {{store.forDate}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

        </ion-card-content>


        <ion-button class="btn-primary" color="secondary" style="width:100%;" *ngIf="store.storeVisitOutOfSync && !currentSpeedSlow" (click)="syncStore(store)">Sync This Store</ion-button>

      </ion-card>
     
    </div>
  </div>

  <div class="row" *ngIf="viewStock && !showStockDetails">
    <div class="card-columns">
      <div class="card bg-primary mb-3">
        <div class="card-body" style="min-width:250px;">
          <h5 class="card-title">Installations</h5>
          <div *ngFor="let installationsMedia of groupedInstalls ">

            <button class="btn btn-success" style="margin-bottom:5px;" (click)="showMediaInstallDetails(installationsMedia.mediatype,installationsMedia.amountToInstall,installationsMedia.chain,'Install')">
              {{installationsMedia.mediatype}} : {{installationsMedia.amountToInstall}} : {{installationsMedia.chain}}
            </button>
          </div><br />
        </div>
      </div>
      <!--<div class="card bg-success mb-3">
        <div class="card-body" style="min-width:250px;">
          <h5 class="card-title">Maintains</h5>
          <div *ngFor="let installationsMedia of groupedMaintains ">
            <span (click)="showMediaInstallDetails()">
              {{installationsMedia.mediatype}} : {{installationsMedia.amountToInstall}} : {{installationsMedia.chain}}
            </span>


            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
          </div><br />
        </div>
      </div>-->
      <div class="card bg-danger   mb-3">
        <div class="card-body" style="min-width:250px;">
          <h5 class="card-title">Removals</h5>
          <div *ngFor="let installationsMedia of groupedRemovals ">
            <button class="btn btn-success" style="margin-bottom:5px;" (click)="showMediaInstallDetails(installationsMedia.mediatype,installationsMedia.amountToInstall,installationsMedia.chain,'Remove')">
              {{installationsMedia.mediatype}} : {{installationsMedia.amountToInstall}} : {{installationsMedia.chain}}
            </button>
          </div><br />
        </div>
      </div>



      <!--<div *ngFor="let store of storeVisistFiltered "  class="card">
      <h5 class="card-title">{{store.chainName}} - {{store.storeName}}</h5>
      <div *ngFor="let storeVisits of store.storeInstallations  ">
        {{storeVisits.mediaType}}-->
      <!--<div *ngIf=" (storeVisits.masterItemGroupWithBarcodes || storeVisits.masterItemWithBarcodes)">
        <div class="card-body" style="min-width:250px;">
          <span *ngFor="let masterItemGroup of storeVisits.masterItemGroupWithBarcodes ">{{masterItemGroup.amountRequired}} x {{masterItemGroup.masterItemGroupName}} a</span><br />
        </div>
      </div>-->
      <!--</div>
      </div>-->
    </div>
  </div>
  <div class="row" *ngIf="viewStock && showStockDetails">
    <div class="card-columns">
      <div *ngFor="let store of allInstallationsForView ">
        <div class="card bg-primary mb-3">

          <div class="card-body" style="min-width:250px;">
            <h5 class="card-title">{{store.store}} - {{store.product}}</h5>
            <span>{{store.status}} : {{store.mediaType}} x {{store.qtyToInstall}}</span><br />
            <span>{{store.categoryName}}</span><br />
          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm" *ngIf="viewStock && showStockDetails">
      <button class="btn btn-primary btn-block" (click)="viewStockAgain()">View Stock</button>

    </div>

  </div>
</ion-content>
