<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/Operations"></ion-back-button>
      </ion-buttons>
      <ion-button expand="full" size="small" (click)="skipStoreVisit()">Skip Store Visit</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-segment [(ngModel)]="segment" scrollable>
    <ion-segment-button value="pending">
      Pending
    </ion-segment-button>
    <ion-segment-button value="completed">
      Completed
    </ion-segment-button>

  </ion-segment>
 
  <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
  <span>{{searchTerm}}</span>
  <div [ngSwitch]="segment" *ngIf="!skipStoreVisitBit">
    <div *ngSwitchCase="'pending'">
      <ion-card *ngFor="let visits of storeInstallationsPending | filter:searchTerm" (click)="getActionForCampaign(visits)" [ngClass]="{'bg-primary mb-3': visits.status == 'Install','bg-success  mb-3' : visits.status == 'Running','bg-danger   mb-3' : visits.status == 'Remove'}">
        <ion-card-header style="color:white">
          {{visits.qtyToInstall}} x {{visits.mediaType}}
        </ion-card-header>
        <ion-card-content>
          <span>
            <b>{{visits.product}} : </b> {{visits.categoryName}}<br />

          </span>
          <div *ngIf="visits.masterItemWithBarcodes">
            <span *ngIf="visits.masterItemWithBarcodes.length > 1">
              Items Required for installation :
              <tr *ngFor="let mediaCapexOpex of visits.masterItemWithBarcodes"><td *ngIf="mediaCapexOpex.masterItemName && mediaCapexOpex.masterItemId > 0"> {{mediaCapexOpex.masterItemName}} x {{mediaCapexOpex.amountRequired}}</td></tr>
            </span>
            <span *ngIf="visits.masterItemWithBarcodes.length == 1">
              Item Required for installation :
              <tr *ngFor="let masterItem of visits.masterItem"><td> {{masterItem.masterItemName}}</td></tr>
            </span>
          </div>

          <div *ngIf="visits.masterItemGroupWithBarcodes">
            <span *ngIf="visits.masterItemGroupWithBarcodes.length > 1">
              Items Required for installation :
              <tr *ngFor="let mediaCapexOpex of visits.masterItemGroupWithBarcodes"><td *ngIf="mediaCapexOpex.masterItemGroupName && mediaCapexOpex.masterItemGroupId > 0"> {{mediaCapexOpex.masterItemGroupName}} x {{mediaCapexOpex.amountRequired}}</td></tr>
            </span>
            <span *ngIf="visits.masterItemGroupWithBarcodes.length == 1">
              Item Required for installation :
              <tr *ngFor="let masterItem of visits.masterItemGroupWithBarcodes"><td> {{masterItem.masterItemGroupName}}</td></tr>
            </span>
          </div>
          <h4 class="text-white">{{visits.status}}</h4>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'completed'">
      <ion-card *ngFor="let visits of storeInstallationsCompleted | filter:searchTerm" (click)="getActionForCampaign(visits)" [ngClass]="{'bg-primary mb-3': visits.status == 'Install','bg-success  mb-3' : visits.status == 'Running','bg-danger   mb-3' : visits.status == 'Remove'}">
        <ion-card-header style="color:white">
          {{visits.qtyToInstall}} x {{visits.mediaType}}
        </ion-card-header>
        <ion-card-content>
          <span>
            <b>{{visits.product}} : </b> {{visits.categoryName}}<br />

          </span>
          <div *ngIf="visits.masterItemWithBarcodes">
            <span *ngIf="visits.masterItemWithBarcodes.length > 1">
              Items Required for installation :
              <tr *ngFor="let mediaCapexOpex of visits.masterItemWithBarcodes"><td *ngIf="mediaCapexOpex.masterItemName && mediaCapexOpex.masterItemId > 0"> {{mediaCapexOpex.masterItemName}} x {{mediaCapexOpex.amountRequired}}</td></tr>
            </span>
            <span *ngIf="visits.masterItemWithBarcodes.length == 1">
              Item Required for installation :
              <tr *ngFor="let masterItem of visits.masterItem"><td> {{masterItem.masterItemName}}</td></tr>
            </span>
          </div>

          <div *ngIf="visits.masterItemGroupWithBarcodes">
            <span *ngIf="visits.masterItemGroupWithBarcodes.length > 1">
              Items Required for installation :
              <tr *ngFor="let mediaCapexOpex of visits.masterItemGroupWithBarcodes"><td *ngIf="mediaCapexOpex.masterItemGroupName && mediaCapexOpex.masterItemGroupId > 0"> {{mediaCapexOpex.masterItemGroupName}} x {{mediaCapexOpex.amountRequired}}</td></tr>
            </span>
            <span *ngIf="visits.masterItemGroupWithBarcodes.length == 1">
              Item Required for installation :
              <tr *ngFor="let masterItem of visits.masterItemGroupWithBarcodes"><td> {{masterItem.masterItemGroupName}}</td></tr>
            </span>
          </div>
          <h4 class="text-white">{{visits.status}}</h4>

        </ion-card-content>
      </ion-card>
    </div>

  </div>
  <div *ngIf="skipStoreVisitBit">
    <ion-item >
      <ion-label>IR Code</ion-label>
      <ionic-selectable [(ngModel)]="irCode"
                        [items]="IRCodes"
                        itemValueField="irCodeID"
                        itemTextField="irCodeName"
                        [canSearch]="true"
                        (onChange)="selectIrCode($event)">
      </ionic-selectable>
    </ion-item>
    <div *ngIf="skipVisitComment">
      <h2>Please enter a comment : </h2>
      <textarea rows="5" style="width:100%;"  [(ngModel)]="skipVisitCommentValue">

      </textarea>
    </div>
    <div *ngIf="skipVisitSelectedIRCode && ((skipVisitComment && skipVisitCommentValue.length > 1) || !skipVisitComment)">
      <ion-button expand="full" size="small" (click)="actionSkipStoreVisit()">Finish Skip Store Visit</ion-button>
    </div>
  </div>
</ion-content>
