<div class="row" style="margin-bottom:15px;">
  <div class="col-sm-3">
    <!--<select (ngModelChange)="setIRCodeForAction($event)" [ngModel]="SelectedIRCode" class="ircodes">
      <optgroup>
        <option *ngFor="let irCode of IRCodes" [ngValue]="irCode" class="col-sm-3 ircodes">
          {{irCode.irCodeName}}
        </option>
      </optgroup>
    </select>-->

    <!--<mat-form-field appearance="fill">
      <mat-label>Ir Codes:</mat-label>
      <mat-select (selectionChange)="setIRCodeForAction($event)"  >
        <mat-option *ngFor="let irCode of IRCodes" [value]="irCode">
          {{irCode.irCodeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
  </div>
 
</div>

