<ion-content>
  <ion-card [routerLink]="['/Operations']">
    <ion-card-header>

      <ion-card-title>Store Visists</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/ops/opsMain.jpg" class="card-img-top" alt="...">
      Over here you can find the stores you need to visit.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="hasPhotosToSynch">
    <ion-card-header>

      <ion-card-title>Synch Photos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/images/ops/SyncImages.png" class="card-img-top" alt="...">
      <ion-button  class="danger" (click)="synchPhotosFull()">{{list.length}} photos to synch</ion-button><br />
    </ion-card-content>
  </ion-card>
</ion-content>
